<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css\styles.css" />
  </head>
  <body>
    <form action="/createBlog" method="post">
      <h1>Create Blog</h1>
      <input type="text" name="title" placeholder="Title" /> <br />
      <textarea
        name="blog"
        id=""
        cols="30"
        placeholder="Blog"
        rows="10"
      ></textarea>
      <br />
      <input class="btn" type="submit" value="Publish" />
    </form>
  </body>
</html>
