<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogging</title>
    <link rel="stylesheet" href="css\styles.css" />
  </head>
  <body>
    <h1>Blogging</h1>

    <% blog.forEach((item)=>{ %>
    <a href="post/<%=item.title%>">
      <div class="blog-box">
        <h3><%=item.title%></h3>
        <p><%=item.blog%></p>
      </div>
    </a>

    <%}); %>
  </body>
</html>
