<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
    <link rel="stylesheet" href="css\styles.css" />
  </head>
  <body>
    <h1>Register User</h1>
    <form action="/register" method="post">
      <input type="text" name="id" min="1" placeholder="Id" /> <br />
      <input type="text" name="name" placeholder="Name" /> <br />
      <input type="password" name="password" placeholder="Password" /> <br />
      <input class="btn" type="submit" value="Register" />
    </form>
  </body>
</html>
